body {
  background-color: #25AAE2;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

table {
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px 0px 0px 0px;
  border: none;
}

table, tr, td {
  border: none;
  position: relative;

}

thead {
  position: sticky;
  top: 0;
  /* Don't forget this, required for the stickiness */
  border: none;
  z-index: 100;
}

.AltTable tr th:nth-child(odd) {
  background: #dae5f8;
}

.AltTable tr th:nth-child(even) {
  background: #e9eff9;
}

.AltTable tr td:nth-child(odd) {
  background: #dae5f8;
}

.AltTable tr td:nth-child(even) {
  background: #e9eff9;
}

li {
  position: relative;
  display: list-item;
  filter: invert(0%);
  margin: 4px 4px 12px 4px;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, .15));
  list-style: none;
}

.game {
  height: 64px;
  width: 128px;
  position: relative;
  display: list-item;
  filter: invert(0%);
  margin: 4px 4px 12px 4px;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, .15));
  list-style: none;
}

.sortableColumn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 3px;
  border: 0px;
  width: 142px;
  height: 4000px;
  list-style-type: none;
}

.sortableColHeader {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 3px;
  border: 0px;
  list-style-type: none;
}

.buttonColumn {
  background-color: #25AAE2;
  border: 0px;
}

.buttonHeader {
  width: 138px;
  height: 25px;
  background-color: #156f96;
  border: 0px;
}

.infoImg {
  border: 1px solid rgb(198, 198, 198);
  filter: invert(0%);
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, .15));
  width: 256px; 
  height:128px;
}

.infoDeveloper {
  padding-top: 0px;
  color: #156f96;
  font-size: 20px;
  font-weight: bold;
}

.infoVersion {
  padding-top: 0px;
  font-size: 12px;
}

.infoInfo {
  padding-top: 2px;
  font-size: 12px;
}

iframe {
  padding-top: 0px;
  margin-top: 0px;
}

.search {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  display: inline-block;
  width: 138px;
}

.searchBox {
  width: 130px;background-color: #45c4fa; border-style: solid; border-color: #156f96; outline: none;
}

.searchBox:focus {
  background-color: white;
}

.comboBox {
  width: 138px;background-color: #45c4fa; border-style: solid; border-color: #156f96; outline: none;
}
